.add-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.add-card-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 400px;
    text-align: center;
}

/* Form input fields */
.add-card-container input,
.add-card-container textarea {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
}

/* Buttons */
.add-card-container button {
    margin: 5px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #28a745;
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-card-container button:hover {
    background-color: #218838;
}

.add-card-container .cancel-button {
    background-color: #555;
}

.add-card-container .cancel-button:hover {
    background-color: #444;
}
