.hero-section {
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.website {
    display: flex;
    flex-direction: column;
}

.website-name-hero {
    font-size: 5em;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

.website-tagline {
    margin-top: 10px;
    letter-spacing: 0.85em;
}

.hero-section-image-2 {
    height: 60%;
    margin-right: 3em;
}