:root {
    --primary-blue: #0832ff;
    --secondary-blue: #c0dfff;
}

.navbar {
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
    justify-content: space-between;
    box-shadow: 0 1px 10px #ccc;
    position: fixed;
    z-index: 1000;
    background-color: white;
}

.navbar-routes {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 40%;
}

.navbar-route {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
    transform: translateX(-80px);
}

.navbar-route:hover {
    background-color: var(--secondary-blue);
    padding: 0.5em;
    border-radius: 999px;
    cursor: pointer;
}

.navbar-route-logo {
    height: 2em;
    transition: all 0.3s;
}

.navbar-route-name {
    margin: 0 0.5em;
    transition: all 0.3s;
}

.navbar-route-logo:hover {
    cursor: pointer;
    animation: wobble 0.3s forwards;
}

.website-name:hover {
    cursor: pointer;
}

.navbar-right-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.register-society {
    background-color: white;
    color: #0832ff;
    border: 2px solid #0832ff;
    padding: 0.25em 1em;
    border-radius: 999px;
    transition: all 0.2s;
    font-weight: 500;
    font-size: 1em;
}

.register-society:hover {
    background-color: #0832ff;
    color: white;
    border: 2px solid transparent;
    cursor: pointer;
}

.profile {
    margin-left: 120px;
    height: 2.5em;
}

.search-dropdown-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

@keyframes wobble {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-20deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(20deg);
    }
    100% {
        transform: rotate(0deg);
    }
}




