.search-dropdown-super-container {
    width: 100%;
    justify-content: center;
    align-items: center;
    position: fixed;
    margin-top: 70px;
    z-index: 500;
}

.search-dropdown-container {
    width: 1000px;
    display: flex;
    justify-content: space-between;
}

.search-dropdown {
    width: 24.5%;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #ccc;
    border: 0.1px solid #333;
    padding-bottom: 1em;
    background-color: white;
}

.dropdown-headline {
    margin: 1em 1em 0em 1em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #333;
    margin-bottom: 0.5em;
}

.dropdown-headline p {
    font-size: 1.2em;
    font-weight: 500;
}

.dropdown-value {
    padding: 0.5em 1em;
    transition: all 0.1s;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown-value:hover {
    background-color: #ddddff;
    cursor: pointer;
}

.see-more {
    margin: 1em 0em 1em 1.2em;
    font-size: 0.8em;
    color: #0832ff;
}

.see-more:hover {
    cursor: pointer; 
}

.selected-item {
    background-color:  #c0dfff;
    font-weight: 500 !important;
}

.length-zero {
    color: #888;
    font-size: 0.75em;
    margin: 1.2em 0em 1em 1.2em;
}

.society-name {
    padding-left: 2em;
}

.accordion-header {
    display: flex;
    justify-content: space-between;
}

.expand-contract-icon {
    height: 0.25em;
}

.animate-forwards {
    animation: rotate-forwards 0.4s forwards;
}

@keyframes rotate-forwards {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(180deg);
    }
}

.animate-backwards {
    animation: rotate-backwards 0.3s backwards;
}

@keyframes rotate-backwards {
    0% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(0deg);
    }
}
