.accordion-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0.5em 0.75em;
    margin: 1.5em 0em;
    transition: all 0.2s;
}

.accordion-container:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

.question-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.expand-contract-icon {
    height: 1.5em;
    filter: invert(42%) sepia(10%) saturate(14%) hue-rotate(314deg) brightness(60%) contrast(88%);
}

.question-date {
    font-size: 0.75em;
}

.answer-title-container {
    padding-top: 0.5em;
}

.animate-forwards {
    animation: rotate-forwards 0.4s forwards;
}

.open {
    background-color: #c9e4ff;
}

@keyframes rotate-forwards {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(45deg);
    }
}

.animate-backwards {
    animation: rotate-backwards 0.4s backwards;
}

@keyframes rotate-backwards {
    0% {
        transform: rotate(45deg);
    }

    100% {
        transform: rotate(0deg);
    }
}


