.card-container {
    height: 400px;
    width: 250px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    outline: 3px solid #0b86ca;
    border-radius: 15px;
    padding: 0em;
    margin-right: 3em;
    margin-bottom: 3em;
}

.member-image {
    width: 90%;
    height: 65%;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 0.75em;
}

.card-details-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(to bottom, #0b86ca, hsl(201, 90%, 38%));
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0.4em 0em;
}

.member-name {
    font-size: 1.25em;
    color: white;
    padding-bottom: 0.25em;
    border-bottom: 1px solid white;
    margin-bottom: 0.25em;
}

.member-role {
    font-size: 1em;
    color: white;
    margin-bottom: 0.5em;
}

.socials {
    width: 50%;
    height: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.social-icon {
    height: 25px;
    transition: all 0.2s;
}

.social-icon:hover {
    height: 30px;
}



