.faqs-container {
    display: flex;
    width: 100%;
}

.filler {
    width: 5%;
    background-image: linear-gradient(to bottom, #0b86ca, hsl(201, 90%, 38%));
}

.faq-container {
    width: 90%;
    margin: 1em 0em;
    margin-left: 2em;
}