.faqs-container {
    display: flex;
    width: 100%;
}

.sorting {
    width: 5%;
    background-image: linear-gradient(to bottom, #0832ff, hsla(230, 100%, 52%, 0.6));
}

.faq-container {
    width: 90%;
    margin: 1em 0em;
    margin-left: 2em;
}