.hero-section {
    height: 250px;
    width: 100%;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.website {
    display: flex;
    flex-direction: column;
}

.website-name-hero {
    font-size: 5em;
}