@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --primary-blue: #0832ff;
    --secondary-blue: #c0dfff;
}

.dm-serif-display-regular {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5em;
    margin-right: 70px;
}

.inter {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.navbar {
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
    justify-content: space-between;
    box-shadow: 0 1px 10px #ccc;
    position: fixed;
    z-index: 1;
    background-color: white;
}

.navbar-routes {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 40%;
}

.navbar-route {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
}

.navbar-route:hover {
    background-color: var(--secondary-blue);
    padding: 0.5em;
    border-radius: 999px;
    cursor: pointer;
}

.navbar-route-logo {
    height: 2em;
    transition: all 0.3s;
}

.navbar-route-name {
    margin: 0 0.5em;
    transition: all 0.3s;
}

.navbar-route-logo:hover, .website-name:hover {
    cursor: pointer;
}

.navbar-right-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.register-society {
    background-color: white;
    color: #0832ff;
    border: 2px solid #0832ff;
    padding: 0.25em 1em;
    border-radius: 999px;
    transition: all 0.2s;
    font-weight: 500;
    font-size: 1em;
}

.register-society:hover {
    background-color: #0832ff;
    color: white;
    border: 2px solid transparent;
    cursor: pointer;
}

.profile {
    margin-left: 120px;
    height: 2.5em;
}

.search-dropdown-container {
    width: 100%;
    display: flex;
    justify-content: center;
}




