.search-dropdown-super-container {
    width: 100%;
    justify-content: center;
    align-items: center;
    position: fixed;
    margin-top: 70px;
}

.search-dropdown-container {
    width: 1000px;
    display: flex;
    justify-content: space-between;
}

.search-dropdown {
    width: 24.5%;
    border-radius: 20px;
    box-shadow: 5px 0px 10px #ccc;
    /* border: 1px solid #333; */
    padding-bottom: 1em;
    background-color: white;
}

.dropdown-headline {
    margin: 1em 1em 0em 1em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #333;
    margin-bottom: 0.5em;
}

.dropdown-headline p {
    font-size: 1.2em;
    font-weight: 500;
}

.dropdown-value {
    padding: 0.5em 0;
    transition: all 0.1s;
    padding-left: 1em;
    padding-right: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown-value:hover {
    background-color: #ddddff;
    cursor: pointer;
}

.see-more {
    margin: 1em 0em 1em 1.2em;
    font-size: 0.8em;
    color: #0832ff;
}

.see-more:hover {
    cursor: pointer; 
}

.selected-item {
    background-color:  #c0dfff;
    font-weight: 500 !important;
}

.length-zero {
    color: #888;
    font-size: 0.75em;
    margin: 1.2em 0em 1em 1.2em;
}

