.society-navbar {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 1px 10px #ccc;
}

.routes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
}

.route {
    transition: all 0.3s;
}

.route:hover {
    cursor: pointer;
    color: #0832ff;
}

.join-us {
    background-color: #0832ff;
    color: white;
    border: 2px solid transparent;
    padding: 0 1.25em;
    height: 60%;
    border-radius: 999px;
    transition: all 0.2s;
    font-weight: 500;
    font-size: 1em;
}

.join-us:hover {
    background-color: white;
    color: #0832ff;
    border: 2px solid #0832ff;
    cursor: pointer;
}

