.tag-container {
    width: 3em;
    height: 1em;
    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tag {
    font-size: 0.5em;
    color: white;
}